.collection-item {
    width: 22vw;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    position: relative;
    .image {
        width: 65%;
        height: 100%;
        background-size: contain;
        // background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 5px;
        margin-top: 0px;
    }
    .custom-button {
        width: 80%;
        opacity: 0.7;
        position: absolute;
        top: 255px;
        display: none;
    }
    &:hover {
        .image {
            opacity: 0.8;
        }
        .custom-button {
            opacity: 0.85;
            display: flex;
        }
    }
    .collection-footer {
        width: 65%;
        height: 5%;
        justify-content: space-between;
        font-size: 18px;
        margin: 20px 0px;
        .name {
            width: 30%;
            margin-bottom: 15px;
            // align-items: center;
        }
        .price {
            width: 10%;
        }
    }
}