.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    .logo-container {
        height: 100%;
        width: 70px;
        padding: 25px;
        &:hover {
            cursor: pointer;
            transform: scale(1.2);
            transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }
    }
    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .option {
            padding: 10px 15px;
            cursor: pointer;
        }
    }
}