@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
* {
    font-family: 'Overpass', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
}